html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #151515;
	background: radial-gradient(circle at center, #232323 0%, #151515 65%);
	font-family: "Varela Round";
	color: #919191;
	user-select: none;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 18.75em;
}

#beginning, #select-letter, #board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#select-letter-btn-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	box-sizing: border-box;
}

svg text, .select-letter-btn {
	font-size: 5.375em;
}

.select-letter-btn:first-child {
	padding-right: 2.5rem;
}

.select-letter-btn {
	font-family: "Varela Round";
	outline: 0;
	border: 0;
	padding: 0;
	margin-top: -.05em;
	background: transparent;
	cursor: pointer;
}

.select-letter-btn:hover {
	text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

.highlightLetter {
	text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
}

.heading {
	margin: 0 0 .8em 0;
	font-size: 1.875em;
	font-weight: 400;
	text-align: center;
}

svg {
	width: 18.75em;
	height: 18.75em;
	overflow: visible;
}

svg rect {
	fill: #000;
	fill-opacity: 0;
}

svg .line {
	fill: #4a4a4a !important;
	fill-opacity: 1;
}

.x {
	fill: #00ccff;
	cursor: default;
}

.o {
	fill: #ff3300;
	cursor: default;
}

.btn {
	outline: 0;
	border: 0;
	background: #4a4a4a;
	border-radius: 100em;
	color: #a3a3a3;
	font-family: "Varela Round";
	cursor: pointer;
	margin: 0;
	position: relative;
}

.btn:hover {
	background: linear-gradient(to right, #00b09b, #96c93d);
	color: #fff;
}

#score-and-home-btn-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.small-btn {
	font-size: .875em;
	padding: .22em 1.05em;
}

#back-btn {
	margin-top: 2em;
}

#score, .beginning-btn {
	font-size: 1.1875em;
}

.beginning-btn {
	padding: .4em;
	width: 13.75rem;
	margin-top: 1.3em;
}

#score {
	color: #434343;
	margin: .8em 0 2.9em 0;
	letter-spacing: .21em;
}

.orange {
	color: #ff3300;
}

.blue {
	color: #00ccff;
}

.hidden {
	display: none !important;
}

@media (max-height: 28.125em) and (orientation: landscape) {
	#board {
		flex-direction: row-reverse;
	}

	#score-and-home-btn-wrapper {
		margin-left: 3.375em;
	}

	#score {
		margin: .875em 0 0 0;
	}

	@media (max-height: 20em) {
		svg {
			max-width: 90vh;
			max-height: 90vh;
		}

		svg text, .select-letter-btn {
			font-size: 25.8vh; /* 90vw / 3 * 86 / 100 */
		}
	}

}

@media (max-height: 28.125em) and (orientation: portrait) {
	#score-and-home-btn-wrapper {
		flex-direction: row;
		width: 90vw;
		justify-content: space-between;
		margin-bottom: 1em;
	}

	#score {
		margin: 0;
	}
}

@media (max-width: 20em) {
	.select-letter-btn:first-child {
		padding-right: 10vw;
	}

	svg {
		max-width: 90vw;
		max-height: 90vw;
	}

	svg text, .select-letter-btn {
		font-size: 25.8vw; /* 90vw / 3 * 86 / 100 */
	}
}

@media(max-width: 15em) {
	.small-btn {
		font-size: 6vw;
	}

	#score, .beginning-btn {
		font-size: 8vw;
	}

	.beginning-btn {
		width: 90vw;
	}
}

@media(max-width: 12.5em) {
	.heading {
		font-size: 14vw;
	}
}

@keyframes btn-animation {
  from {
    background: #4a4a4a;
  }

  to {
    background: linear-gradient(to right, #00b09b 0%, #96C93D 100%);
  }
}